@charset "utf-8";
.c-master,
.live-cou-box ul li.current .live-three-angle .yk-DT-arrow *, .live-cou-box ul li.current .live-cb-wrap .live-cou-time .fr a, .live-cou-box ul li .live-cb-wrap .live-course-title:hover, .i-n-l-mane a:hover, .in-new-box-list ul li:hover a, .in-new-box-list ul li:hover h3, .in-n-r-l-ul li a:hover, .js-tap li .c-l-jgpx a:hover, .js-tap li .c-l-jgpx a.current,
.c-s-dl .ejdl-box ul li a:hover, .c-s-dl .ejdl-box .c-s-dl-li ul li.current a, .c-s-dl .ejdl-box dt span, .sc-end a, .sc-end a:hover, .all-teacher-title .js-list-tit a:hover, .all-teacher-title .js-list-tit a.current, .q-r-r-num .r-b-num, .kj-link li a, .ei-i-close,
.live-cou-rec1 li .live-cou-wrap1 h3 a:hover, .m-check-box a:hover span, .mw-nav ul li.current a, .lh-menu-stair .lh-menu-ol li.lh-menu-second .l-m-stitle:hover a, .lh-menu ul ul.no-parent-node li.lh-menu-second .l-m-stitle:hover a, .lh-menu-stair .lh-menu-ol li.lh-menu-second.current-2 a, .u-m-t-ab-in ul li.m-current a, .u-bj-b-warp .box-bj .l-box-bj a:hover, .c-cou-item .name a:hover, .e-login-options li .lr-tip-wrap, .i-live-cou-list ul li .cc-l-wrap:hover .cc-l-wrap-bottom span, .h-l-nav li .hl-sec-nav dd.current a tt, .h-l-nav li .hl-sec-nav dd a:hover tt, .cou-money, .a-s-l-c-name a:hover, .h2-r-l-list li a:hover, .j-cateright-wrap .v-i-tab-a a:hover, .syD tt, .c-kcfl:hover tt, .mo-op-titlist li.cur a, .mo-op-titlist li.cur a tt, .m-o-b-se ul li.current a, .m-o-b-se ul.kczy-list-b li.cater a, .comm-course-list li .cc-l-wrap:hover .coure-bg-g a, .sxtj-n-box a.cz-btn,
.la-r-t-list li:hover .name,.la-r-t-list li.current .name,.c-l-phb-tit a:hover,.comm-course-list .c-l-phb-box ul li:hover a,.demo-teach-list li:hover .demo-t-l-warp a,.certificate-warp a:hover, .demo2-i-live-list .cc-l-wrap-top:hover h3 a,.d2-phb-list li .name:hover,.live-small-tit li.current a,.live-small-tit li:hover a,.sc-end tt,.d2-i-t-list li .da-i-t-warp:hover p,.d2-i-t-list li .da-i-t-warp:hover h5
,.d2-i-t-list li .da-i-t-warp:hover .d2-i-t-top .DT-arrow em,.d2-i-nr-b-list .li-1:hover a,.u-m-card-yes .u-m-c-txt tt,.c-pay-mem-zx ul li:hover .u-m-c-txt tt,.c-pay-mem-zx ul li.current .u-m-c-txt tt,.c-in-vip .DT-arrow em,.member-jl-tab tr td .u-ass-gq,.myacc-r-cz .u-a-inpt-zhcz,.u-yqpt-list li:hover p,.line-j-it-all:hover .line-j-item-first-div,.line-j-it-all.curr .line-j-item-first-div,.line-j-item .line-j-it-txt a:hover,.l-new-gg-i-list li a:hover,.in-li-men-ul li:hover a span,.in-li-men-ul li:hover a span tt,.more-txt a:hover,
.n-notic-ul-in-nr:hover,.Result-top-xz label.checked{
    color: #ff662f;
}

.c-infor-tabTitle.c-tab-title a:hover, .c-infor-tabTitle.c-tab-title a.current, .h-r-login li a:hover, .h-r-login li a:hover, .c-tab-title a.current,
.c-tit-right a:hover, .c-tit-right a.current, .c-btn-2, .i-teach-wrap:hover a, .paging a:hover, .paging a.current, #footer,
.u-m-dd ul li a:hover, .u-m-dd ul li.current a, .shop-car-num, .c-btn-6, .h-r-login li .tit-n-warp li:hover, .js-tap li.current a, .js-tap li:hover a, .c-shop-car-wrap a, .yz-numb, .cou-buy-btn, .h-r-login li .tit-n-warp .new-tit-box a, .mobile-yz-btn, .h2-n-list li a:hover, .h2-n-list li.current a,.d2-c-phb-tit a:hover,.d2-c-phb-tit a.current,
.lh-menu ul li.lh-menu-stair ol li.lh-menu-second.current-2 a,.lh-menu ul li.lh-menu-stair ul.current-2 li.lh-menu-second a tt,.lh-menu ul li.lh-menu-stair .current-2 li.lh-menu-second a,.lh-menu ul li.lh-menu-stair ol li.lh-menu-second.current-2 a .lh-menu-i-2,.lh-menu ul li.lh-menu-stair .current-2 li.lh-menu-second a .lh-menu-i-2,
.current-2 .lh-menu-second a span.fr, .lh-menu-second.current-2 span.fr, #t-infor-menu p a.current,
.i-art-title:hover, .q-sort-wrap span.current, .cou-kscp, .ur-titbtn a, .goSt, .i-j-it-all:hover .i-j-item-bx, .i-j-it-all.curr .i-j-item-bx,.m-o-b-se ul.sxtj-list li.current a
,.l-i-play-ku,.myacc-r a.btn-ku,.member-jl-tab tr td a.btn,.line-j-it-all:hover .line-j-item-bx, .line-j-it-all.curr .line-j-item-bx,.m-o-b-se ul.sxtj-list li.current a,.in-li-men-ul li:hover a,.n-r-tl-btn a:hover,.n-p-mask-btn a:hover,.email-u .btn a,.l-r-w-Inpt li .lTxt-yz-btn,.u-o-right .cou-kscp-k,.n-ks-seach-dis .seach-btn{
    border-color: #ff662f;
    color: #ff662f;
    text-decoration: none;
}

.c-s-dl-li ul li a:hover, .c-s-dl-li ul li.current a,.c-s-dl dl .c-s-more .m-a-b-more a:hover, .c-s-dl dl ul li a:hover, .c-s-dl-li ul li.current a, .bg-orange, .js-btn,
.live-cou-wrap ul li.current .l-cou-box .l-cou-info, .live-cou-box ul li.current .live-cb-wrap .live-cou-time, .live-cou-wrap ul li.current .l-cou-box,
.i-live-cou-list ul li.current .cc-l-wrap .i-live-sta, .nav li.current a, .nav li a:hover, .p-h-r-title li.current a, .table_sche .sch-kj,
.new-all-cou-list ul li a:hover, .new-all-cou-list ul li.current a, .lh-menu-stair .lh-menu-ol li.lh-menu-second .l-m-stitle:hover .cou-kscp, .lh-menu ul ul.no-parent-node li.lh-menu-second .l-m-stitle:hover .cou-kscp, .h-r-login li .tit-n-warp .new-tit-box a:hover, .i-live-cou-list ul li .cc-l-wrap:hover .cc-l-wrap-bottom .in-live-line span, .u-o-right .cou-kscp, .order-btn, .pay-error-btn a, .pay-error-btn a:hover, .jihu-btn:hover, .jihu-btn, .ret-btn, .ur-titbtn a:hover, .seach-2-btn, .n-i-m-top a,.line-i-m-top a,
.d2-title-fl a:hover, .d2-title-fl a.current, .e-login-btn, .goSt:hover, .login-btn, .m-o-b-se ul li.current, .search-2 .s-2-infor, .u-m-c-btn,
.la-r-t-list li a .la-r-t-box .l-r-b-bj,.n-l-in-t-tit,.seach-3-btn,.d3-b-r-top,.d3-liv-in-zt span.ing,.in-l-r-t-tit,.in-l-ks-list li:hover .in-l-data,.line-in-h-c-list li:hover .nubm,.line-zx-btn a{
    background-color: #ff662f;
}

.lh-reply-btn,.u-n-sh-in-btn,.cou-buy-btn:hover, .c-shop-car-wrap a:hover, .order-submit, .c-live-state-btn.c-l-play, .cou-kscp:hover, .sure-submit, .buyCoupon_add2,.u-tit-vip,.sxtj-n-box a.qd-btn
,.la-l-t-btn,.jg-fl-b-jg,.c-l-phb-tit a.current,.phb-top,.live-moblie-fl a:hover,.live-moblie-fl a.current,.l-i-play-jr,.demo2-i-live-list .cc-l-wrap-top .in-2-mask a.zbz,.cou-kscp-one,
.d2-i-nr-tit a:hover,.d2-i-nr-tit a.current,.l-i-play-ku:hover,.d3-b-r-btn a.bg,.myacc-r a.btn-bg,.myacc-r a.btn-ku:hover,.member-jl-tab tr td a.btn:hover,.article-new-title .pic-box-zx:hover .nr-infor .nr-i-zy-btn,
.in-lin-c-btn a:hover,.mo-hot-n-ejdh .list .in-line-all-t-list li a,.line-sech-btn,.l-tk-btn a,.email-u .btn a:hover,.cou-buy-btn-new,.text-btn a,.u-o-right .cou-kscp-k:hover,.n-ks-seach-dis .seach-btn:hover{
    background-color: #ff662f;
    color: #fff;
    text-decoration: none;
}

.u-n-sh-in-btn,.lt-ie9 .comm-course-list li .cc-l-wrap:hover, .lt-ie9.lt-ie8 .comm-course-list li .cc-l-wrap:hover, .shopcar-box, .live-cou-box ul li.current .live-three-dot,
.buyB_payPlat ul li img:hover, .tit-header, .c-infor-tabTitle.c-tab-title span, .p-h-r-title, .c-p-title, .buyText01,
.dialog-box-boy-in ul li:hover .box-boy-in-i a, .ei-i-dialog-box-boy .dialog-box-boy-in ul li .current a,
.in-live-line span, .third-p-form li input.t-p-inp:focus, .e-register-btn, .cou-kscp:hover, .lh-menu-stair .lh-menu-ol li.lh-menu-second .l-m-stitle:hover .cou-kscp, .lh-menu ul ul.no-parent-node li.lh-menu-second .l-m-stitle:hover .cou-kscp, .c-infor-title span, .uMenu .uM-list li:hover, .uMenu .uM-list li.current, .u-r-tit-all h2 span.current, .u-r-tit-all h2 a:hover, .u-r-tit-all h2 a.current, .i-live-cou-list ul li .cc-l-wrap:hover .cc-l-wrap-top, .teacher-list-index ul .current a, .teacher-list-index ul li:hover a, .h-l-nav li .hl-sec-nav dd.current, .login-btn, .search-2 .s-2-infor, .n-item-right, .demo2-i-live-list ul li .cc-l-wrap:hover .cc-l-wrap-top, .c-live-state-btn.c-l-play, .m-o-b-se ul.kczy-list-b li.cater
,.la-l-t-btn,.demo-teach-list li:hover .demo-t-l-warp,.demo-teach-list li:hover .demo-t-l-warp .pic,.comm-course-list li .cc-l-wrap:hover,.l-i-play-jr,
.co-lv-list li:hover .cc-l-wrap,.in-n-lv-tj li:hover .cc-l-wrap,.d2-i-t-list li .da-i-t-warp .d2-i-t-bottom .pic img,.d2-i-t-list li .da-i-t-warp:hover .d2-i-t-top,
.d2-i-n-l-box:hover .pic,.u-m-card-yes,.c-pay-mem-zx ul li:hover .u-m-card,.c-pay-mem-zx ul li.current .u-m-card,.c-i-vip-br,.h3-n-list li a:hover,.h3-n-list li a.current,.d3-b-r-btn a.ku,
.d3-i-n-l-box ul li:hover .d3-pic-a-n,.m-acc-title span,.u-yqpt-list li:hover a,.line-item-right,.more-age,.in-lin-c-btn a,.comm-title.all-article-title h2 a:hover,.comm-title.all-article-title h2 a.current{
    border-color: #ff662f;
}

.t-s-select .s-vv-txt:hover tt, .in-new-box-list .a-list-extrainfo a:hover, .c-c-l li h4.hLh20 a:hover, .uMenu .uM-list li:hover a, .uMenu .uM-list li.current a,
.i-j-it-all:hover .DT-arrow em, .i-j-it-all:hover a, .i-j-it-all:hover span, .i-j-it-all.curr .DT-arrow em, .i-j-it-all.curr a, .i-j-it-all.curr span, .article-new-title .name-a-n:hover,
.d2-i-n-l-box:hover .name a,.h3-r-l-list li a:hover,.h3-n-list li a:hover,.h3-n-list li a.current,.d3-b-r-btn a.ku,.d3-i-n-l-box ul li:hover .d3-name-news-in,.d3-i-n-l-box ul li:hover .d3-name-news-in span,.line-j-it-all:hover .DT-arrow em, .line-j-it-all:hover a, .line-j-it-all:hover span, .line-j-it-all.curr .DT-arrow em, .line-j-it-all.curr a, .line-j-it-all.curr span,
.m-age-list li a:hover,.m-age-list li a.current,.in-l-kj-list li a:hover p,.in-l-kj-list li a:hover,.in-line-all-t-list li a:hover,.in-line-cous-list li .in-line-cous-warp:hover .in-line-c-name,.in-line-hot-list li a:hover,.in-line-hot-list li a:hover tt,.in-l-ks-list li:hover a,.line-in-h-c-list li:hover .name,
.in-line-jp-cous-list li:hover .name a,.in-l-jp-b-in .small ul li a:hover,.line-c-infor-nr .name a:hover,.pl-v-r-m-rj-warp:hover a,.pl-v-r-m-rj-warp.cur a,.line-cou-list-ej .lin-c-l-ej-list li a:hover,.line-cou-list-ej .lin-c-l-ej-list li a.current{
    color: #ff662f;
    text-decoration: none;
}

#triangle-bottomright {
    border-bottom-color: #ff662f;
}
.live-small-tit li.current a,.live-small-tit li:hover a{border-top-color:  #ff662f;}
.order-submit-small-k{border: 1px solid #ff662f;color: #ff662f;background: transparent;}
.login-btn-k{background: transparent;}
.login-btn-k input{color: #ff662f;}
/*===================辅助色==============================*/
.c-bro {
    color: #79350f;
}

.u-r-tit-all .btn:hover, .u-r-tit-all .btn.current, .d-s-head {
    background-color: #ff8d68;
}

.new-loigin, .new-loigin .new-header, .e-login-options li input:focus, .xb-box a:hover, .xb-box a.current {
    border-color: #ffd7ca;
}
.m-o-b-se ul.sxtj-list li.current a,.sxtj-n-box a.cz-btn{background-color: #ffd7ca;}
.d2-i-t-list li .da-i-t-warp:hover .d2-i-t-top .DT-arrow span,.c-in-vip .DT-arrow span{color: #fffcfb;}
.in-new-box-list ul li:hover, .i-teach-wrap:hover,.comm-course-list .c-l-phb-box ul li:hover,.demo-teach-list li:hover .demo-t-l-warp,
.d2-i-t-list li .da-i-t-warp:hover .d2-i-t-top,.u-m-card-yes,.c-pay-mem-zx ul li:hover .u-m-card,.c-pay-mem-zx ul li.current .u-m-card,
.c-i-vip-br,.live-ejdl-b,.in-li-men-ul li:hover a,.line-cou-list-ej{
    background-color: #fffcfb;
}

.r-art-wrap li.lt2 .orderNum span {
    background: #CA9191;
}

.u-account-li li.errorts input, .i-r-kc-btn:hover, .u-index .lh-menu-stair .lh-menu-ol li.lh-menu-second .l-m-stitle .cou-kscp:hover, .u-index .lh-menu ul ul.no-parent-node li.lh-menu-second .cou-kscp:hover,
.l-r-w-Inpt li input.lTxt:focus {
    border-color: #FF8723;
    background-color: #fff8f2;
}

.u-bj-it-time span, .jg-btn a,.jg-fl-b-vip {
    background-color: #FF8723;
}

.u-a-error,.l-i-play-wks,.member-jl-tab tr td .u-ass-dj{
    color: #FF8723;
}

.n-reply-wrap textarea:focus, .tctj-warp .comm-course-list li.current .cc-l-wrap, .tctj-warp .comm-course-list li:hover .cc-l-wrap, .i-teach-wrap:hover
,.l-i-play-wks{
    border-color: #FF8723;
}

.p-h-s-bar .lev-num-bar, .l-i-time, .third-p-form li.last-list .Determine-btn, .live-cou-nav .live-title {
    background: #985054
}

.live-cou-nav .live-title span {
    border-color: #985054;
}

.c-redfz, .live-cou-nav ul li a:hover, .live-cou-nav ul li.current a {
    color: #985054;
}

.p-h-r-title li a {
    color: #364B61;
}

.c-btn-5, .c-btn-7, .blue-btn {
    background-color: #364B61;
}

.l-i-attr, .l-i-attr-ol li aside {
    border-color: #364B61;
}

.o-c-btn.open-o-c a, .open-o-c.o-c-btn a:hover {
    border-color: #ffcc00
}

.dpOpen a, .light-yellow{
    color: #ffcc00;
}

.c-live-state-btn.c-l-wks {
    border-color: #14ba4c;
}

.mianfei, .free-icon, .c-live-state-btn .c-l-wks {
    border-color: #14ba4c;
    color: #14ba4c;
}
.member-jl-tab tr td .u-ass-zc{color: #14ba4c}
.c-live-state-btn .c-l-play, .u-homework-box .c-hk-look:hover,.u-r-dh-btn, .c-live-state-btn,.jg-fl-b-mf,.demo2-i-live-list .cc-l-wrap-top .in-2-mask a.wks
,.d3-liv-in-zt span.wks{
    background-color: #14ba4c;
}
.third-p-form li.yazma .email-send-but, .lh-list-more a:hover {
    border-color: #2f75bb;
    color: #2f75bb;
}

.red-point {
    background-color: #cb2020;
}

.noter-dy:hover, .noter-zan:hover,.c-red-n {
    color: #cb2020;
    text-decoration: none;
}
.c-red-live{color: #ff5050;}
.js-tap li.current .c-l-jgpx a.js-tap li:hover .c-l-jgpx a, .js-tap li .c-l-jgpx a {
    color: #333;
    border-color: #ddd;
}

.u-r-cont .cou-kscp.gmkc, .lh-menu-stair .lh-menu-ol li.lh-menu-second .l-m-stitle:hover .cou-kscp.gmkc .lh-menu ul ul.no-parent-node li.lh-menu-second .l-m-stitle:hover .cou-kscp.gmkc, .u-o-right .cou-kscp.gmkc {
    background-color: #e4e4e4;
    color: #666;
    border: 1px solid #d2d2d2;
}

.js-tap li.current a, .js-tap li:hover a {
    background-color: #fffafa;
}
