<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyq.mapper.PayMapper">


    <select id="queryPay" resultType="com.lyq.model.StudentPay">
        select t.name,t.city,t.education,t.aogpay,t.laterpay from t_pay t
    </select>



</mapper>
